<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<style>
    .header-container {
        padding: 20px;
        border-radius: 10px;
        background-color: #f8f9fa;
    }

        .header-container h5 {
            margin-bottom: 0;
        }

        .header-container p {
            margin-bottom: 0;
        }

    #profile-img-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    #profile-img {
        width: 100px;
        height: 100px;
        cursor: pointer;
    }

    #user-info {
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        border-color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        margin-top: 20px;
    }

        #user-info.show {
            max-height: 1000px; /* Adjust this value based on content height */
            opacity: 1;
        }

    #button-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .btn-custom {
        margin: 0 10px;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(139, 222, 34, 1) 0%, rgba(0, 212, 255, 1) 100%);
        color: white;
        font-weight: bolder;
        border: none;
        background-size: 200% 200%;
        transition: background-position 0.5s ease, transform 0.3s ease;
    }

        .btn-custom:hover {
            background-position: 100% 0;
            color: white;
            transform: scale(1.05);
        }

    a {
        text-decoration: none;
    }
</style>
<div class="container">

    <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a href="Home/Index">Trang chủ</a></li>

        <li class="breadcrumb-item active" aria-current="page">Thông tin cá nhân</li>
    </ol>
</div>

@{
    string hiddenPhoneNumber = Model.Phone.Substring(0, Model.Phone.Length / 2) + new string('*', Model.Phone.Length / 2);
    string hiddenEmail = Model.Email.Substring(0, Model.Email.IndexOf('@') / 2) + new string('*', Model.Email.Length - Model.Email.IndexOf('@'));
}
<div class="container" style="margin-bottom:300px">
    <div id="profile-img-container" class="col-md-12">
        <img id="profile-img" src="~/IMG/logo.png" class="rounded-circle" />
        <span class="hover-text">Thông tin cá nhân</span>
    </div>

    <div id="user-info" class="row mt-3">
        <ul class="list-group w-100">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="fw-bolder">Tên:</span>
                <span>@Model.Name</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="fw-bolder">Số Điện Thoại:</span>
                <span>@hiddenPhoneNumber</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="fw-bolder">Email:</span>
                <span>@hiddenEmail</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="fw-bolder">Giới tính:</span>
                <span>@Model.Gender</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="fw-bolder">Địa chỉ:</span>
                <span>@Model.Address</span>
            </li>
            <div id="button-container" class="col-md-12">
                <a asp-action="PassChange" class="btn btn-custom" asp-route-usn="@Model.UserName">Đổi mật khẩu</a>
                <a asp-controller="Home" asp-action="EditProfile" class="btn btn-custom">Cập nhật thông tin</a>
                <a asp-controller="Home" asp-action="Logout" class="btn btn-custom">Đăng xuất</a>
            </div>
        </ul>
        
    </div>
</div>