@model DA_WebC5.Models.ProductDetails

@{
    ViewData["Title"] = "CreateDetails";
}

<h1>Tạo chi tiết</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IDProduct" class="control-label">Tên sản phẩm</label>
                <input type="text" class="form-control" value="@ViewBag.Product.Name" readonly />
                <input type="hidden" asp-for="IDProduct" value="@ViewBag.Product.IDProduct" />
            </div>
            <div class="form-group">
                <label>Màu sản phẩm</label>
            <select class="form-select" id="Color" name="IDColor">
                <option value="">Chọn màu sản phẩm</option>
                @foreach (var sizess in ViewBag.Colors)
                {
                    <option value="@sizess.Value">@sizess.Text</option>
                }
            </select>
            </div>
            <div class="form-group">
                <label>Kích cỡ</label>
                <select class="form-select" id="Color" name="IDSize">
                    <option value="">Chọn kích cỡ</option>
                    @foreach (var colorss in ViewBag.Sizes)
                    {
                        <option value="@colorss.Value">@colorss.Text</option>
                    }
                </select>
            </div>
            
         
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Số lượng</label>
                <input asp-for="Quantity" class="form-control" name="Quantity"/>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
