<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<style>
    .radio-btn-image {
        display: none;
    }

        .radio-btn-image + label {
            display: inline-block;
            cursor: pointer;
        }

            .radio-btn-image + label img {
                border-radius: 25px;
            }



        .radio-btn-image:checked + label img {
            font-weight: bold;
        }

        .radio-btn-image:not(:checked) + label img {
            opacity: 0.5;
        }


    .radio-btn-size {
        display: none;

    }

        .radio-btn-size + label {
            display: inline-block;
            text-align: center;
            align-items: center;
            align-content: center;
            width: 50px;
            height: 50px;
            margin-right: 10px;
            border-radius: 20px;
            cursor: pointer;
        }

        .radio-btn-size:checked + label {
            color: black; 
            border: 1px solid #0EA5E9;
        }

        .radio-btn-size:not(:checked) + label {
            opacity: 0.5;
            font-weight: normal;
        }

    .radio-btn-point {
        display: none;
    }

    .radio-label {
        display: inline-block;
        text-align: center;
        align-items: center;
        align-content: center;
        cursor: pointer;
        font-size: 20px;
        margin-right: 5px;
        color: grey; 
    }

    .radio-btn-point:checked ~ .radio-label,
    .radio-btn-point:checked ~ .radio-label ~ .radio-label {
        color: gold; 
    }

    .quantity-selector {
        display: flex;
        float: left;
        justify-content: center;
        text-align: center;
        background-color: gray;
        border-radius: 25px;
        padding: 5px;
    }

        .quantity-selector button {
            border: 1px solid #000;
            background: white;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-weight: bold;
            font-size: 20px;
        }

    .quantity-input {
        border: none;
        background: transparent;
        text-align: center;
        padding: 5px 10px;
        font-size: 15px;
        font-weight: bold;
        width: 50px;
    }

    .add-cart {
        display: flex;
        float: right;
        background-color: black;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        border-radius: 25px;
        padding: 10px 15px;
    }

    .col-sm-3 .border {
        transition: box-shadow 0.3s, transform 0.3s;
    }

    .col-sm-3 .container-fluid {
        transition: box-shadow 0.3s, transform 0.3s;
    }

    .col-sm-3:hover .border {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
    }

    .col-sm-3:hover .container-fluid {
        transform: translateY(-5px);
    }
</style>
@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}
@model DA_WebC5.Models.NewViewModel.ProductDetailViewModel
@{
    int selectedIdPDetail = 0;
}

<ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item"><a href="/home/index">Trang chủ</a></li>

    <li class="breadcrumb-item active" aria-current="page">Chi tiết sản phẩm</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="row ">
                <div class="d-flex">
                    <div class="col-md-9">
                        <div class="justify-content-center" style="margin-right: 15px;">
                            <img id="main-image" src="~/@Model.Product.Image" alt="Alternate Text" class="w-100" style="border-radius: 25px;">
                        </div>
                    </div>
                    <div class="col-md-3">
                        @if (Model.Images != null && Model.Images.Any())
                        {
                            <div class="image-selection">
                                @foreach (var img in Model.Images)
                                {
                                    <div class="image-option">
                                        <input type="radio" id="image-@img.IDImage" name="options" value="@img.Image" class="radio-btn-image">
                                        <label for="image-@img.IDImage">
                                            <img src="@Url.Content("~/")@img.Image" alt="Option @img.IDImage" class="w-75 img-thumbnail">
                                        </label>
                                    </div>
                                }
                            </div>
                        }

                    </div>
                </div>
            </div>
            <hr>
            <h3>THÔNG TIN SẢN PHẨM</h3>
            <h4>@Model.Product.Name</h4>
            <h6 class="text-secondary">@Model.Product.Category.Name - @Model.Product.Supplier.Name</h5>
            <p>@Model.Product.Describe</p>
        </div>
        <div class="col-md-5">
            @if (TempData["FailQuantity"] != null)
            {
                <div class="alert alert-danger">@TempData["FailQuantity"]</div>
            }
            <div class="card" style="background-color:#D9D9D9">
                <div class="card-body">
                    <div class="container">
                        <div class="row d-flex justify-content-between">
                            <div class="">
                                <div style="font-size:large">
                                <strong>Đánh giá: </strong><u>@Model.Evaluates.Where(x => x.IDProduct == Model.Product.IDProduct).Count()</u>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="">
                                    <div class="font-weight-bold" style="font-size:x-large">@Model.Product.Price.ToString("N0") VNĐ</div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="font-weight-bold" style="font-size:large">Màu và kích cỡ:</div>
                        </div>

                        @*color and size*@
                        <form method="post" asp-controller="Cart" asp-action="AddCart">
                            <div class="row">
                                @foreach (var detail in Model.ProductDetails)
                                {
                                    <div class="col-sm-2">
                                        <input class="radio-btn-size" type="radio" name="IdPDetail" id="@detail.IDPDetail + 1" value="@detail.IDPDetail" checked='@(detail.IDPDetail == selectedIdPDetail ? "checked" : "")'>
                                        <label class="font-weight-bold radio-btn-size" for="@detail.IDPDetail + 1" style="background-color: @Model.Colors.FirstOrDefault(x => x.IDColor == detail.IDColor)?.Color; color:white" checked='@(detail.IDPDetail == selectedIdPDetail ? "checked" : "")'>
                                            @Model.Sizes.FirstOrDefault(s => s.IDSize == detail.Size)?.SizeName
                                        </label>
                                    </div>
                                }
                            </div>
                            <div class="row">
                                <div class="col-sm-12 d-flex justify-content-between">
                                    <div class="quantity-selector">
                                        <form>
                                            <button type="button" class="decrease-btn">-</button>
                                            <input type="text" name="quantity" value="1" class="quantity-input" readonly>
                                            <button type="button" class="increase-btn">+</button>
                                        </form>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn add-cart">
                                            <i class="bi bi-bag-plus"></i>
                                            <div>Thêm vào giỏ hàng</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="">
                <hr></hr>


                @if (ViewBag.Condition)
                {
                    <form asp-controller="ProductDetail" asp-action="AddEvaluate" method="post">
                        @for (int i = 1; i <= 5; i++)
                        {
                            <input type="radio" id="star-@i" name="point" value="@i" class="radio-btn-point">
                            <label class="radio-label" for="star-@i"><i class="bi bi-star-fill"></i></label>
                        }
                        <input type="hidden" name="id" value="@Model.Product.IDProduct" />
                        <textarea name="dsc" rows="5" class="w-100" placeholder="Đánh giá sản phẩm"></textarea>
                        <button class="btn btn-secondary">Gửi đánh giá</button>
                    </form>
                }

                <div class="card mt-3" style="border 1px solid: black">

                    @foreach (var evaluate in Model.Evaluates.Where(x => x.IDProduct == Model.Product.IDProduct))
                    {
                        <div class="card-body border-1">
                            <div class="evaluate-item">
                                <div class="user">@evaluate.UserName - Đánh giá: @evaluate.Point<i class="bi bi-star-fill text-warning"></i> </div>
                                <div class="describe">Mô tả: @evaluate.Describe</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <h3>Gợi ý sản phẩm</h3>
    <div class="row overflow-auto">
        <div class="col-sm-3 d-flex justify-content-center flex-column">
            <div class="border border-secondary-subtle rounded">
                <div><img src="/Image_Nhut/Detail1.jpg" alt="Alternate Text" class="mw-100" /></div>
            </div>
            <div class="row container-fluid justify-content-center text-center">
                <p class="font-weight-bold col-sm-8 mb-1">Áo cầu lông 1</p>
                <p class="font-weight-bold col-sm-4 mb-1 text-danger">200.000</p>
                <p style="font-size: small;" class="col-sm-8">Loại áo</p>
                <strike style="font-size: small;" class="col-sm-4">400.000</strike>
            </div>
            <p class="text-center container-fluid">
                <i class="bi bi-star-fill text-warning"></i> 4.9 (100)
            </p>
        </div>
        <div class="col-sm-3 d-flex justify-content-center flex-column">
            <div class="border border-secondary-subtle rounded">
                <div><img src="/Image_Nhut/Detail1.jpg" alt="Alternate Text" class="mw-100" /></div>
            </div>
            <div class="row container-fluid justify-content-center text-center">
                <p class="font-weight-bold col-sm-8 mb-1">Áo cầu lông 1</p>
                <p class="font-weight-bold col-sm-4 mb-1 text-danger">200.000</p>
                <p style="font-size: small;" class="col-sm-8">Loại áo</p>
                <strike style="font-size: small;" class="col-sm-4">400.000</strike>
            </div>
            <p class="text-center container-fluid">
                <i class="bi bi-star-fill text-warning"></i> 4.9 (100)
            </p>
        </div>
        <div class="col-sm-3 d-flex justify-content-center flex-column">
            <div class="border border-secondary-subtle rounded">
                <div><img src="/Image_Nhut/Detail1.jpg" alt="Alternate Text" class="mw-100" /></div>
            </div>
            <div class="row container-fluid justify-content-center text-center">
                <p class="font-weight-bold col-sm-8 mb-1">Áo cầu lông 1</p>
                <p class="font-weight-bold col-sm-4 mb-1 text-danger">200.000</p>
                <p style="font-size: small;" class="col-sm-8">Loại áo</p>
                <strike style="font-size: small;" class="col-sm-4">400.000</strike>
            </div>
            <p class="text-center container-fluid">
                <i class="bi bi-star-fill text-warning"></i> 4.9 (100)
            </p>
        </div>
        <div class="col-sm-3 d-flex justify-content-center flex-column">
            <div class="border border-secondary-subtle rounded">
                <div><img src="/Image_Nhut/Detail1.jpg" alt="Alternate Text" class="mw-100" /></div>
            </div>
            <div class="row container-fluid justify-content-center text-center">
                <p class="font-weight-bold col-sm-8 mb-1">Áo cầu lông 1</p>
                <p class="font-weight-bold col-sm-4 mb-1 text-danger">200.000</p>
                <p style="font-size: small;" class="col-sm-8">Loại áo</p>
                <strike style="font-size: small;" class="col-sm-4">400.000</strike>
            </div>
            <p class="text-center container-fluid">
                <i class="bi bi-star-fill text-warning"></i> 4.9 (100)
            </p>
        </div>
    </div>
</div>

<script>
        var quantityInput = document.querySelector(".quantity-input");
        var decreaseBtn = document.querySelector(".decrease-btn");
        var increaseBtn = document.querySelector(".increase-btn");
        decreaseBtn.addEventListener('click', function () {
            var currentValue = parseInt(quantityInput.value);
            if (currentValue > 1) {
                quantityInput.value = currentValue - 1;
            }
        });
        increaseBtn.addEventListener('click', function () {
            var currentValue = parseInt(quantityInput.value);
            quantityInput.value = currentValue + 1;
        });

    document.querySelectorAll('.radio-btn-point').forEach(radio => {
        radio.addEventListener('change', () => {
            const value = parseInt(radio.value);
            document.querySelectorAll('.radio-label').forEach(label => {
                const labelFor = label.getAttribute('for');
                const labelValue = parseInt(labelFor.split('-')[1]);
                if (labelValue <= value) {
                    label.style.color = 'gold';
                } else {
                    label.style.color = 'grey';
                }
            });
        });
    });

    document.querySelectorAll('.radio-btn-image').forEach(radio => {
        radio.addEventListener('change', () => {
            var mainImage = document.getElementById('main-image');
            mainImage.src = "/" + radio.value;
        });
    });
</script>