@{
    ViewData["Title"] = "Sản phẩm";
}
@model IEnumerable<DA_WebC5.Models.NewViewModel.ProductViewModel>
<style>
    .bg-text {
        background-color: white;
    }

    .col-sm-3 .border {
        transition: box-shadow 0.3s, transform 0.3s;
    }

    .col-sm-3 .container-fluid {
        transition: box-shadow 0.3s, transform 0.3s;
    }

    .col-sm-3:hover .border {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
    }

    .col-sm-3:hover .container-fluid {
        transform: translateY(-5px);
    }
</style>

<div class="container">
    <div class="row mt-3">
        <div class="col-sm-3">
            <h5>Loại</h5>
            @foreach (var category in Model.SelectMany(m => m.Categories).Distinct())
            {
                <div>
                    <input class="form-check-input" type="checkbox" value="@category.IDCategory" id="@category.IDCategory">
                    <label class="form-check-label" for="@category.IDCategory">
                        @category.Name
                    </label>
                </div>
            }
            <hr class="mt-3 mb-3" />
            <h5>Phạm vi giá</h5>
            <div class="row container">
                <div class="col-sm-6"><input type="number" placeholder="Thấp" class="w-100" /></div>
                <div class="col-sm-6"><input type="number" placeholder="Cao" class="w-100" /></div>
            </div>
            <hr class="mt-3 mb-3" />
            <h5>Thứ tự sắp xếp</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                    Phổ biến nhất
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Đánh giá cao nhất
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                <label class="form-check-label" for="exampleRadios3">
                    Mới nhất
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
                <label class="form-check-label" for="exampleRadios4">
                    Giá từ thấp - cao
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
                <label class="form-check-label" for="exampleRadios5">
                    Giá từ cao - thấp
                </label>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="row">
               @foreach(var item in Model)
                {
                    <div class="col-sm-3 d-flex justify-content-center flex-column">
                        <div class="border border-secondary-subtle rounded">
                            <a href="/ProductDetail/Index/@item.IDProduct"> <div><img src="~/@item.Image" alt="Alternate Text" class="mw-100" /></div></a>
                        </div>
                        <div class="row container-fluid">
                            <p class="font-weight-bold col-sm-8 mb-1">@item.Name</p>
                            <p class="font-weight-bold col-sm-4 mb-1">@item.Price.ToString("N0")</p>
                            <p style="font-size: small;" class="col-sm-8">@item.CategoryName</p>
                            <strike style="font-size: small;" class="col-sm-4">400.000</strike>
                        </div>
                        <p><i class="bi bi-star-fill text-warning"></i> 4.9 (100)</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
