@{
    ViewData["Title"] = "Sản phẩm";
}
 @using Microsoft.AspNetCore.Http;
    @inject IHttpContextAccessor HttpContextAccessor
@{
    string username = "";
    var loggedInUser = HttpContextAccessor.HttpContext.Session.GetString("LoggedInUser");
    if (HttpContextAccessor.HttpContext.Session.GetString("LoggedInUser") != null)
    {
        username = HttpContextAccessor.HttpContext.Session.GetString("LoggedInUser");
    }
}
@model IEnumerable<DA_WebC5.Models.NewViewModel.ProductViewModel>
<style>
    .bg-text {
        background-color: white;
    }

    .col-sm-3 .border {
        transition: box-shadow 0.3s, transform 0.3s;
    }

    .col-sm-3 .container-fluid {
        transition: box-shadow 0.3s, transform 0.3s;
    }

    .col-sm-3:hover .border {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
    }

    .col-sm-3:hover .container-fluid {
        transform: translateY(-5px);
    }
</style>

<ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item"><a href="/home/index">Trang chủ</a></li>

    <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
</ol>
<div class="container">
    <div class="row mt-3">
        <div class="col-sm-3">
            <h5>Loại</h5>
            <form method="post" asp-action="FilterByCategories" id="filterByCate">
                @foreach (var category in Model.SelectMany(m => m.Categories).Distinct())
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="selectedCategories" value="@category.IDCategory" id="@category.IDCategory">
                        <label class="form-check-label" for="@category.IDCategory">
                            @category.Name
                        </label>
                    </div>
                }
                <button type="submit" class="btn btn-dark mt-3">Lọc</button>
            </form>

            <hr class="mt-3 mb-3">

            <h5>Phạm vi giá</h5>
            <form action="/Product/FilterByPrice" method="post">
                <div class="input-group mb-3">
                    <input type="number" placeholder="Thấp" class="form-control" name="priceLow" id="priceLow" value="@ViewBag.PriceLow">
                    <input type="number" placeholder="Cao" class="form-control" name="priceHigh" id="priceHigh" value="@ViewBag.PriceHigh">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-dark">Lọc</button>
                    </div>
                </div>
            </form>

            <hr class="mt-3 mb-3">

            <h5>Thứ tự sắp xếp</h5>
            <form method="post" asp-action="SortOrder" id="sortOrderForm">
                <div class="form-check">
                    <input class="form-check-input123" type="radio" name="sortOrder" id="priceLowToHigh" value="priceLowToHigh">
                    <label class="form-check-label" for="priceLowToHigh">
                        Giá từ thấp - cao
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input123" type="radio" name="sortOrder" id="priceHighToLow" value="priceHighToLow">
                    <label class="form-check-label" for="priceHighToLow">
                        Giá từ cao - thấp
                    </label>
                </div>
            </form>
        </div>


        <div class="col-sm-9">
            @if (ViewBag.NotProducts != null)
            {
                <h5 class="font-weight-bold">@ViewBag.NotProducts</h5>
            }
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-3 d-flex justify-content-center flex-column prod">
                        <div class="border border-secondary-subtle rounded">
                            <a href="/ProductDetail/Index/@item.IDProduct"> <div><img src="~/@item.Image" alt="Alternate Text" class="mw-100" /></div></a>
                        </div>
                        <div class="row container-fluid">
                            <div class="col-sm-8 mb-1">
                                <p class="font-weight-bold text-truncate">@item.Name</p>
                                <p style="font-size: small;" class="text-truncate">@item.CategoryName</p>
                            </div>
                            <div class="col-sm-4 mb-1">
                                <p class="font-weight-bold text-truncate">@item.Price.ToString("N0") đồng</p>
                            </div>
                        </div>

                        <p><i class="bi bi-star-fill text-warning"></i> 4.9 (100)</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $("#Search").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $(".prod").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    document.querySelectorAll('input[name="sortOrder"]').forEach(radio => {
        radio.addEventListener('change', function () {
            document.getElementById('sortOrderForm').submit();
        });
    });
</script>