<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<style>

    .table td, .table th {
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
    }

    td.d-flex {
        justify-content: center;
    }


    .input-group {
        padding: 0.25rem 0.5rem;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .table .d-flex .p-2 {
        padding-left: 0;
        padding-right: 0;
    }

    .product-info {
        display: flex;
        flex-direction: column;
    }

        .product-info span {
            display: block;
            white-space: nowrap;
        }

        .product-info div {
            padding: 5px;
        }

    .col-sm-3 .border {
        transition: box-shadow 0.3s, transform 0.3s;
    }

    .col-sm-3 .container-fluid {
        transition: box-shadow 0.3s, transform 0.3s;
    }

    .col-sm-3:hover .border {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
    }

    .col-sm-3:hover .container-fluid {
        transform: translateY(-5px);
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }

    a {
        text-decoration: none;
    }

    .alerts {
        padding: 20px;
        background-color: green;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
    }
</style>

@model IEnumerable<DA_WebC5.Models.Cart>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    string username = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("LoggedInUser") != null)
    {
        username = HttpContextAccessor.HttpContext.Session.GetString("LoggedInUser");
    }
}
<style>
    a{
        text-decoration:none;
    }
</style>
<div class="container">
    <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a href="/home/index">Trang chủ</a></li>

        <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
    </ol>
</div>


@if (TempData["errorsub"] != null)
{
    <div class="alerts">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>!</strong> @TempData["errorsub"]
    </div>

}
@if (TempData["SuccessAddCart"] != null)
{
    <div class="alerts">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>!</strong> @TempData["SuccessAddCart"]
    </div>

}

<div class="container">
    <div id="failQuantity" class="alert alert-danger px-5" style="display:none;"></div>
    <div style="position: relative; overflow: hidden; height:25px;">
        <i class="bi bi-receipt" style="position: absolute; top: 50%; transform: translateY(-50%);"></i>
        <span style="color: red; position: absolute; transform: translateY(-50%); animation: slide 2s infinite alternate;">Nhập mã <strong>giảm giá</strong> để nhận thêm nhiều <strong>ưu đãi</strong> hơn</span>
    </div>
    <form asp-controller="Bills" asp-action="Index">
        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>Sản phẩm</th>
                        <td></td>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th>Số tiền</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="selectedProducts" value="@item.IDPDetail">
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="col-12 p-0">
                                        <img src="~/@item.ProductDetails.Product.Image" style="width:150px; " alt="Alternate Text" class="img-fluid" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-12 p-0">
                                    <div>@item.ProductDetails.Product.Name</div>
                                    <div class="text-secondary">@item.ProductDetails.Product.Category.Name</div>
                                    <div class="text-secondary">@item.ProductDetails.Sizes.SizeName - @item.ProductDetails.Colors.Color</div>
                                </div>
                            </td>
                            <td>@item.ProductDetails.Product.Price.ToString("N0")</td>
                            <td class="text-center">
                                <div class="input-group">
                                    <form>
                                        <button class="btn btn-outline-secondary btn-sm" type="button" onclick="updateQuantity('@item.IDCart', 'subtract')">-</button>
                                    </form>
                                    <input type="number" class="form-control text-center" name="quantity" id="quantity-@item.IDCart" value="@item.Quantity" readonly>
                                    <form>
                                        <button class="btn btn-outline-secondary btn-sm" type="button" onclick="updateQuantity('@item.IDCart', 'add')">+</button>
                                    </form>
                                </div>
                            </td>
                            <td>@((item.Quantity * item.ProductDetails.Product.Price).ToString("N0")) đồng</td>
                            <td><a asp-controller="Cart" asp-action="DeleteProd" asp-route-id="@item.IDCart" class="text-center"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <input type="text" class="form-control" name="SaleInput" value="" placeholder="Nhập mã khuyến mãi (nếu có)">

        <div class="border p-2 mt-3 d-flex align-items-center flex-wrap">
            <a asp-controller="Cart" asp-action="DeleteAll" class="btn btn-danger mr-2 mb-2 mb-md-0">Xóa tất cả sản phẩm</a>
            <a asp-controller="Product" asp-action="Index" class="btn btn-dark mr-2 mb-2 mb-md-0">Tiếp tục mua hàng</a>

            <div class="ml-md-auto mr-md-0 mb-2 mb-md-0">Tổng thanh toán(@Model.Where(x => x.UserName == ViewBag.Username).Count() sản phẩm)</div>
            <div class="px-2 mb-2 mb-md-0"><strong class="text-danger"></strong></div>
            

            <button type="submit" class="btn btn-success">Mua hàng</button>
        </div>
    </form>

    <hr>
    <h4>Có thể bạn sẽ thích</h4>

    <div class="row overflow-auto">
        <div class="col-sm-3 d-flex justify-content-center flex-column">
            <div class="border border-secondary-subtle rounded">
                <div><img src="/Image_Nhut/Detail1.jpg" alt="Alternate Text" class="mw-100" /></div>
            </div>
            <div class="row container-fluid justify-content-center text-center">
                <p class="font-weight-bold col-sm-8 mb-1">Áo cầu lông 1</p>
                <p class="font-weight-bold col-sm-4 mb-1 text-danger">200.000</p>
                <p style="font-size: small;" class="col-sm-8">Loại áo</p>
                <strike style="font-size: small;" class="col-sm-4">400.000</strike>
            </div>
            <p class="text-center container-fluid">
                <i class="bi bi-star-fill text-warning"></i> 4.9 (100)
            </p>
        </div>
        <div class="col-sm-3 d-flex justify-content-center flex-column">
            <div class="border border-secondary-subtle rounded">
                <div><img src="/Image_Nhut/Detail1.jpg" alt="Alternate Text" class="mw-100" /></div>
            </div>
            <div class="row container-fluid justify-content-center text-center">
                <p class="font-weight-bold col-sm-8 mb-1">Áo cầu lông 1</p>
                <p class="font-weight-bold col-sm-4 mb-1 text-danger">200.000</p>
                <p style="font-size: small;" class="col-sm-8">Loại áo</p>
                <strike style="font-size: small;" class="col-sm-4">400.000</strike>
            </div>
            <p class="text-center container-fluid">
                <i class="bi bi-star-fill text-warning"></i> 4.9 (100)
            </p>
        </div>
        <div class="col-sm-3 d-flex justify-content-center flex-column">
            <div class="border border-secondary-subtle rounded">
                <div><img src="/Image_Nhut/Detail1.jpg" alt="Alternate Text" class="mw-100" /></div>
            </div>
            <div class="row container-fluid justify-content-center text-center">
                <p class="font-weight-bold col-sm-8 mb-1">Áo cầu lông 1</p>
                <p class="font-weight-bold col-sm-4 mb-1 text-danger">200.000</p>
                <p style="font-size: small;" class="col-sm-8">Loại áo</p>
                <strike style="font-size: small;" class="col-sm-4">400.000</strike>
            </div>
            <p class="text-center container-fluid">
                <i class="bi bi-star-fill text-warning"></i> 4.9 (100)
            </p>
        </div>
        <div class="col-sm-3 d-flex justify-content-center flex-column">
            <div class="border border-secondary-subtle rounded">
                <div><img src="/Image_Nhut/Detail1.jpg" alt="Alternate Text" class="mw-100" /></div>
            </div>
            <div class="row container-fluid justify-content-center text-center">
                <p class="font-weight-bold col-sm-8 mb-1">Áo cầu lông 1</p>
                <p class="font-weight-bold col-sm-4 mb-1 text-danger">200.000</p>
                <p style="font-size: small;" class="col-sm-8">Loại áo</p>
                <strike style="font-size: small;" class="col-sm-4">400.000</strike>
            </div>
            <p class="text-center container-fluid">
                <i class="bi bi-star-fill text-warning"></i> 4.9 (100)
            </p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateQuantity(id, action) {
        $.ajax({
            url: `/Cart/${action}`,
            type: 'POST',
            data: { id: id },
            success: function (response) {
                if (response.success) {
                    $('#quantity-' + id).val(response.quantity);
                    $('#failQuantity').hide();
                } else {
                    $('#failQuantity').text(response.message).show();
                }
            },
            error: function () {
                window.location.href = '/cart/index';
            }
        });
    }
</script>
